
body {
  background: black;
  background-image: url("https://static.pexels.com/photos/30222/pexels-photo-30222.jpg");
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;
}
.containerAbout {
  margin: 100px 300px 40px 300px;
  background-color: #e8eaf6;
  padding:20px 20px 20px 20px;
  opacity: 0.7;
  border: 1px solid; 
  border-radius: 10px;
}
.containerAbout div {
  font-family: verdana;
  font-size: 20px;
  color:black;
  text-align: justify;
}
.topdiv {

  width:100%;
  height:40px;
  padding: 20px 20px 20px 20px;
}
#tagline{
  font-family: Courier;
  font-size: 24px;
  float: center;
  position: inline-block;
  margin-left: 700px;
  position:relative;
  color: #a6001a;
}
#logo{
  font-family: monospace;
  font-size: 60px;
  font-weight: 500;
  line-height: 26.4px;
  float:left;
  position: inline-block;
  color: #808080;
  margin-left:25px;
  margin-top: 5px;
  text-shadow: 2px 2px 4px #622569;
  clear: both;
}
nav {
    list-style-type: none;
    padding: 4;
    overflow: hidden;
    background-color: #333;
    border:1px solid #622569;
    width: 99%;  
    box-shadow:2px 2px 6px #000000; 
    clear: both;
    margin-top: 30px;
    margin-left: 7px;
    border-radius: 4px;
}
nav ul li {
    float: left;
    padding-left:1px;
    list-style-type: none;

}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color #5b9aa0 on hover */
nav li a:hover {
    background-color:#5b9aa0;
}
.col-md-12 img {
  float:left;
  height:450px;
  width:380px;
  display:inline-block;
  padding:10px;
  display:inline;
  clear:both;
  z-index: -1;

}
.images{
  margin: 50px; 
  background-color: #f1f1f1;
  text-align: justify-all;

}

 p {
 
  padding: 15px 20px;
  margin-left: 20px;
  margin-right:20px;
  font-family: verdana;
  font-size:20px;
  color:#868585;

}

 .clickme {
  padding:5px;
  margin-left: 100px;
  color: white;

 }
 .content  {
  padding:20px 20px 20px 20px;
  opacity: 0.7;
  border: 1px solid; 
  border-radius: 10px;
  background-color: #660000;
}
.content p {
color: white;
text-align: justify; 
font-family: verdana;
text-shadow: 2px 2px 4px #622569;
box-shadow:2px 2px 6px #000000; 
}
  
 

.footer-social { 
  padding-top: 20px;
  float: left; 
  margin-top:5px;
  list-style-type: none;
  clear: both;
}
.footer-social img {
   max-height:50px; 
  max-width:50px;
  display: inline-block;
  padding: 5px;

 }
 iframe {
  float: left;
  padding: 10px;
  margin-left: 40px;
  width:660px; 
  height:415px;
  display: inline-block;
  position: relative;
 }
.containerForm {

  margin: 70px 200px 200px 200px;
}
 
